body{
  padding:3%;
}
#splashInfoPanel {
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  height: auto;
  width: auto;
  margin: auto;
  padding-left:3%;
  padding-bottom: 1%;
}

.form-group,
.g-recaptcha {
  display: block;
}

.form-group,
h3 {
  margin: 0;
  max-width: 75%;
  display: block;
}

.error {
  color: red;
  font-size: small;
}

#registerButton {
  margin: 20px auto;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

h1,
h3 {
  text-align: center;
  margin-top: 0;
}

.g-recaptcha {
  margin-top: 5%;
}
.styl{
  text-align: center;
  input{
    margin:auto;
  }
}