body{
  background: url("../images/splash2.jpg") no-repeat;
  background-size: 100%;
  padding:2%;

}
.container
{
	background:rgba(255,255,255, 0.6);
	height: auto;
	width:auto;
	padding:2%;
}
.form-group, .g-recaptcha{
	margin-top:0;
	margin-bottom:0;
	margin-right: auto;
	margin-left: auto; 
	max-width: 75%;
	display: block;
}
.error{
	color:red;
	font-size:small;
}
#przycisk{
	margin:auto;
	display: block;
}
h1,h3{
	text-align: center;
	margin-top: 0;
}
.g-recaptcha{
	margin-top:5%;
}