body {
  padding: 3%;
}

#splashInfoPanel {
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  height: auto;
  width: auto;
  margin: auto;
  padding: 1% 3%;
}

.form-group,
.g-recaptcha {
  display: block;
}

.form-button {
  margin: auto;
}

.form-group,
h3 {
  margin: 0 auto;
  max-width: 75%;
  display: block;
}

.error {
  color: red;
  font-size: small;
}

h1,
h3 {
  text-align: center;
  margin-top: 0;
}

.g-recaptcha {
  margin-top: 5%;
}

.col-md-6{
  text-align: center;
  
}

